:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --hover-dark: #00bcd4;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.react-calendar__tile.booked {
  background-color: #db2f1fc3 !important;
  color: white !important;
}

.react-calendar{
  font-family: var(--font-geist-sans) !important;
  border-color: transparent !important;
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  
}

.react-calendar__tile--now {
  background-color: rgba(61, 251, 74, 0.2) !important; 
  color: rgb(0, 176, 44) !important; 
}

@media (prefers-color-scheme: dark){
  .react-calendar__tile:hover {
    background-color: #666 !important;
    color: #000 !important; 
  }

  .react-calendar__navigation button:hover{
    background-color: #666 !important;
    color: #000 !important;
  }
  
  .rbc-today {
    background-color: rgba(61, 251, 74, 0.2) !important;
    color: rgb(0, 176, 44) !important; 
  }

  .rbc-btn-group button {
    color: #ddd !important; 
  }

  .rbc-btn-group button.rbc-active {
    background-color: #444 !important; 
    color: #fff !important;
  }

  .rbc-btn-group button:hover {
    background-color: #666 !important;
  }
}

.rbc-time-gutter {
  font-size: 15px !important;
  padding-left: 5px;
}

@media (max-width: 300px){
  .rbc-calendar {
    width: 100% !important;
    font-size: 12px !important;  
      transform: scale(0.5) !important;
      transform-origin: top left !important;
  }

  .rbc-event {
    font-size: 10px !important;
  }

  .rbc-time-gutter {
    font-size: 10px !important;
  }
}